@charset "UTF-8";
/* ОБНУЛЯЮЩИЙ ФАЙЛ */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------------------------------*/
/* ШРИФТЫ IMPORT */
/*--------------------------------------------*/
/* ШРИФТЫ */
@font-face {
  font-family: "NunitoSans-Regular";
  src: url("../fonts/NunitoSans-Regular.eot");
  src: local("☺"), url("../fonts/NunitoSans-Regular.woff") format("woff"), url("../fonts/NunitoSans-Regular.ttf") format("truetype"), url("../fonts/NunitoSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pe-icon-7-stroke";
  src: url("../fonts/Pe-icon-7-stroke.eot");
  src: local("☺"), url("../fonts/Pe-icon-7-stroke.woff") format("woff"), url("../fonts/Pe-icon-7-stroke.ttf") format("truetype"), url("../fonts/Pe-icon-7-stroke.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*--------------------------------------------*/
/* ПЕРЕМЕННЫЕ */
/*--------------------------------------------*/
/* ШАБЛОНЫ */
.footer .creator__title, .communication .form__button_castomize, .communication__title, .service .s-item__title, .workprocess__title, .gallery__loadmore a, .stat__text, .stat__number, .skills .progress, .skills__title, .about__title, .header .about-hd__button, .header .about-hd__title, .header {
  font-family: "Montserrat";
}

.footer-item, .communication .form__comment, .communication .form__title, .communication .form__email, .communication .form__name, .communication__text, .testimonials .testimonials-slider__text, .workprocess__text, .about__text, .header .about-hd__text {
  font-family: "NunitoSans-Regular";
}

/*--------------------------------------------*/
/* МИКСИНЫ */
/*--------------------------------------------*/
/* SCSS */
.wrapper {
  min-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

.header {
  background-color: #cad1d3;
  position: relative;
  z-index: 0;
}
.header__bg {
  position: absolute;
  height: 100%;
  z-index: -1;
}
.header .container {
  max-width: 1171px;
  margin: 0 auto;
  padding: 35px 20px;
}
.header__row {
  padding: 0 0 100px 0;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  flex: 0 0 31px;
}
.header__logo img {
  max-width: 100%;
}
.header .nav__body {
  position: relative;
}
.header .nav__row {
  min-width: 650px;
  display: flex;
  justify-content: space-between;
}
.header .nav__row li {
  color: #191919;
  text-transform: uppercase;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
  transition-duration: 300ms;
  cursor: pointer;
}
.header .nav__row li:hover {
  color: #10c9c3;
}
.header .nav__burger {
  display: none;
}
@media (max-width: 767px) {
  .header .nav .nav__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 99;
  }
  .header .nav .nav__burger span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
  }
  .header .nav .nav__burger:before,
.header .nav .nav__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header .nav .nav__burger:before {
    top: 0;
  }
  .header .nav .nav__burger:after {
    bottom: 0;
  }
  .header .nav .nav__menu {
    position: absolute;
    background-color: #bcbcbc;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .header .nav .nav__row {
    display: block;
  }
}
.header .about-hd {
  position: relative;
  min-height: 300px;
  margin: 0 0 85px 0;
}
.header .about-hd__body {
  max-width: 475px;
  position: absolute;
  right: 0;
}
.header .about-hd__title {
  font-size: 38px;
  line-height: 48px;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: #1d1d1d;
  padding: 0 0 25px 0;
}
.header .about-hd__text {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.005em;
  color: #787878;
  padding: 0 0 35px 0;
}
.header .about-hd__button {
  font-size: 12px;
  line-height: 84px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  background-color: #10c9c3;
  text-align: center;
  padding: 20px 45px;
  transition-duration: 0.2s;
  position: relative;
  top: 0;
  transition-duration: 0.2s;
}
.header .about-hd__button:hover {
  top: -3px;
  box-shadow: 0 3px 0 #0d928e;
}

.about__body {
  max-width: 620px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__title {
  flex: 0 0 auto;
  font-size: 30px;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #191919;
  padding: 80px 0 35px 0;
}
.about__text {
  flex: 1 1 auto;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.005em;
  color: #787878;
  padding: 0 0 35px 0;
}
.about__signature {
  flex: 0 0 auto;
  padding: 0 0 80px 0;
}

.skills {
  background: #fbfbfb url("../images/pictures/pensil_v2.png") right/auto 100% no-repeat;
}
.skills .container {
  width: 600px;
  padding: 200px 0 200px 0;
  margin: 0 0 0 15%;
}
.skills__body {
  display: flex;
  flex-direction: column;
}
.skills__title {
  font-size: 30px;
  line-height: 84px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #171717;
}
.skills .progress {
  font-size: 12px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000;
  display: flex;
  flex-direction: column;
}
.skills .progress__item {
  padding: 0 0 35px 0;
}
.skills .progress__item:last-child {
  padding: 0;
}
.skills .progress progress {
  width: 100%;
  height: 3px;
}
.skills .progress progress::-webkit-progress-value {
  background-color: #10c9c3;
}
.skills .progress progress::-webkit-progress-bar {
  background-color: #d8d8d8;
}

.stat {
  background-color: #10c9c3;
}
.stat .container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 80px 25px;
}
.stat__body {
  display: flex;
  justify-content: space-between;
}
.stat__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stat__icon {
  flex: 0 0 auto;
}
.stat__info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 30px;
}
.stat__number {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #fff;
}
.stat__text {
  font-size: 12px;
  line-height: 25px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
}

.gallery__body {
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}
.gallery__item {
  width: 25%;
  height: 300px;
}
.gallery__item:nth-child(1) {
  background-color: #838383;
}
.gallery__item:nth-child(3) {
  background-color: #838383;
}
.gallery__item:nth-child(6) {
  background-color: #838383;
}
.gallery__item:nth-child(8) {
  background-color: #838383;
}
.gallery__item:nth-child(2) {
  background-color: #dddddd;
}
.gallery__item:nth-child(4) {
  background-color: #dddddd;
}
.gallery__item:nth-child(5) {
  background-color: #dddddd;
}
.gallery__item:nth-child(7) {
  background-color: #dddddd;
}
.gallery__item:hover .gallery__item-shadow {
  display: block;
}
.gallery__item-shadow {
  display: none;
  cursor: pointer;
  background-color: rgba(50, 50, 50, 0.8);
  height: 100%;
  width: 100%;
}
.gallery__item-shadow-position {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery__item-shadow img {
  position: absolute;
  animation-name: eye-jump;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
}
.gallery__loadmore {
  width: 100%;
  background-color: #f5f5f5;
}
.gallery__loadmore a {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #8e8e8e;
  max-width: 100%;
  margin: 0 auto;
  padding: 45px 0;
  text-align: center;
  display: block;
  transition: 0.4s;
}
.gallery__loadmore a:hover {
  background-color: #1d1d1d;
  color: #f5f5f5;
}

.workprocess .container {
  padding: 100px;
}
.workprocess__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.workprocess__title {
  font-size: 30px;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #191919;
  padding: 0 0 40px 0;
}
.workprocess__text {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.005em;
  color: #787878;
  padding: 0 0 55px 0;
}

.service {
  background-color: #f5f5f5;
}
.service .container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 50px 0 25px 0;
}
.service__body {
  display: flex;
  flex-flow: row wrap;
}
.service .s-item {
  flex: 0 1 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
}
.service .s-item:hover .s-item__img {
  animation-name: img-jump;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
}
.service .s-item__img {
  position: relative;
}
.service .s-item__icon {
  margin: 0 0 35px 0;
}
.service .s-item__title {
  font-size: 12px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #191919;
  padding: 0 0 10px 0;
}

.testimonials {
  background-color: #10c9c3;
}
.testimonials .container {
  padding: 180px 0 50px 0;
}
.testimonials__body {
  max-width: 900px;
  margin: 0 auto;
}
.testimonials .testimonials-slider__text {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: #fff;
  padding: 0 0 130px 0;
}
.testimonials .testimonials-slider .swiper-pagination {
  background-color: rgba(0, 0, 0, 0);
}
.testimonials .testimonials-slider .swiper-pagination-bullet {
  height: 10px;
  width: 10px;
  background-color: #fff;
}

.partners .container {
  padding: 0 25px;
}
.partners__row {
  max-width: 1100px;
  margin: 0 auto;
  padding: 65px 0;
}
.partners__body {
  display: flex;
  justify-content: space-between;
}
.partners__item {
  flex: 0 0 auto;
}
.partners__item a {
  position: relative;
}
.partners__item a:hover {
  top: -2px;
}

.communication {
  background-color: #f5f5f5;
}
.communication .container {
  max-width: 700px;
  margin: 0 auto;
}
.communication__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.communication__title {
  text-align: center;
  font-size: 30px;
  line-height: 84px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #1d1d1d;
  padding: 0 0 30px 0;
}
.communication__text {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.005em;
  color: #787878;
  padding: 0 0 35px 0;
}
.communication .form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.communication .form__main {
  display: flex;
  flex-flow: row wrap;
}
.communication .form__name {
  flex: 0 1 45%;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.005em;
  color: #787878;
  margin: 0 0 30px 0;
  padding: 20px;
}
.communication .form__email {
  flex: 0 1 49%;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.005em;
  color: #787878;
  margin: 0 0 30px 6%;
  padding: 20px;
}
.communication .form__title {
  flex: 0 1 100%;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.005em;
  color: #787878;
  margin: 0 0 30px 0;
  padding: 20px;
}
.communication .form__comment {
  flex: 0 1 100%;
  height: 170px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.005em;
  resize: none;
  color: #787878;
  padding: 20px;
}
.communication .form__button {
  padding: 30px 0 100px 0;
}
.communication .form__button_castomize {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  padding: 20px;
  background-color: #10c9c3;
  cursor: pointer;
  position: relative;
  top: 0;
  transition-duration: 0.2s;
}
.communication .form__button_castomize:hover {
  top: -3px;
  box-shadow: 0 3px 0 #0d928e;
}
.communication .form-item_active:focus {
  box-shadow: 0 0px 15px rgba(16, 201, 195, 0.2);
}

.footer {
  background-color: #141414;
}
.footer .container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 100px 25px;
}
.footer__body {
  display: flex;
  justify-content: space-between;
}
.footer-item {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.005em;
  color: #bcbcbc;
  padding: 0 0 10px 0;
}
.footer .creator__title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #fff;
  padding: 0 0 25px 0;
}
.footer .contacts {
  display: flex;
  flex-direction: column;
}
.footer .link-item {
  display: flex;
  flex-direction: column;
}
.footer .link-item a {
  transition-duration: 0.2s;
}
.footer .link-item a:hover {
  color: #fff;
}

/*--------------------------------------------*/
/* KEYFRAMES */
@keyframes eye-jump {
  0% {
    top: 45%;
  }
  50% {
    top: 43%;
  }
  100% {
    top: 45%;
  }
}
@keyframes img-jump {
  0% {
    top: -1px;
  }
  50% {
    top: -3px;
  }
  100% {
    top: -1px;
  }
}
/*--------------------------------------------*/