/*
html {
    width: 2000px;
    height: 2000px;
}
*/
#body {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.block {
    display: none;
}
/*
th, td {
    border: 1px solid #000;
    text-align: center;
    font-size: 40px;
}
*/
/*
p {
    width: 300px;
    height: 300px;
    overflow: auto;
    border: 5px solid #000;
    padding: 20px;
}
.link {
    overflow: auto;
    width: 100px;
}
*/