/*
html {
    width: 2000px;
    height: 2000px;
}
*/
#body {
    
}
.block {
    display: none;
}
.football {
}
.football_field {
    position: relative;
    width: 400px;
    height: 225px;
    background: url('jsBase/images/football.jpg') 0 0/100% auto no-repeat;
    border: 10px solid #000;
}
.football_ball {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    cursor: pointer;
    touch-action: none;
}
.metka {
    height: 40%;
    position: absolute;
    left: 10%;
    top: 30%;
}
.metka_2 {
    height: 90px;
    width: 90px;
    background-color: #fff;
    position: absolute;
    top: 30%;
    right: 10%;
}
.slider {
    border: 5px;
    margin: 15px;
    border-radius: 5px;
    width: 200px;
    height: 15px;
    background: #ccc;
}
.thumb {
    border-radius: 3px;
    cursor: pointer;
    width: 10px;
    height: 25px;
    background-color: #5e344e;
    position: relative;
    left: 5px;
    top: -5px;
    touch-action: none;
}
.football-hero__field {
    background: url('jsBase/images/field.jpg') 0 0 / 100% auto no-repeat;
    width: 1000px;
    height: 563px;
    float: left;
    position: relative;
    border: 1px solid #5e344e;
}
.football-hero__hero {
}
.hero {
    cursor: pointer;
    position: relative;
}
.ball {
    width: 5%;
}
.gate {
    width: 20px;
    height: 200px;
    
    
}
.gate_1 {
    background-color: #fff;
    position: absolute;
    top: 32%;
    left: 0px;
}
.gate_2 {
    background-color: #fff;
    position: absolute;
    top: 32%;
    left: 98%;
}

/*
.layer_1 {
    height: 300px;
    width: 300px;
    background-color: blue;
}
.layer_2 {
    height: 200px;
    width: 200px;
    background-color: yellow;
}
.layer_3 {
    height: 100px;
    width: 100px;
    background-color: red;
}
*/
/*
.highlight {
    background-color: red;
}
li {
    cursor: pointer;
}
*/
/*
th, td {
    border: 1px solid #000;
    text-align: center;
    font-size: 40px;
}
*/
/*
p {
    width: 300px;
    height: 300px;
    overflow: auto;
    border: 5px solid #000;
    padding: 20px;
}
.link {
    overflow: auto;
    width: 100px;
}
*/
.modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    max-width: 100%;
    height: 600px;
    max-height: 100%;
    z-index: 1010;
    background-color: #fff;
}
.modal__guts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.modal__guts img {
    max-width: 100%;
}
.modal-overlay {
    z-index: 1000;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.7);
}
.modal-closed {
    display: none;
}
.modal__button {
    z-index: 1111;
}