@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

@import "zero.scss";

$color_white : #fff;
$color_white-two : #f8f7f7;
$color_white-three : #eaeaea;
$color_greyish : #a4a4a4;
$color_warm-grey : #868585;
$color_brownish-grey : #6c6c6c;
$color_greyish-brown : #3c3c3c;
$color_black : #000;
$color_dust : #ada074;
$color_portfolio-bg : #f3f3f3;
$color_linkedin-bg : #0077b5;
$color_facebook-bg : #4267b2;

body {
     font-family: 'Lato', sans-serif;
}

.header {
     padding: 50px 0 0 0;
     background: url('../images/pictures/bg_top.jpg') 0 0/100% auto no-repeat;
     &_body {
          padding-bottom: 77px;
     }
     &__logo {
          max-width: 195px;
          margin: 0 auto;
     }

     &__slogan {
          max-width: 757px;
          margin: 0 auto;
          padding: 180px 0 350px 0;
          color: $color_white;

          &_bigger {
               text-align: center;
               font-size: 34px;
               letter-spacing: 5.44px;
               font-weight: 900;
               line-height: 2.5;
               text-transform: uppercase;
          }

          &_smaller {
               text-align: center;
               font-size: 26px;
               letter-spacing: 4.16px;
          }
     }

     & .readmore {
          &__button {
               max-width: 171px;
               margin: 0 auto;

               & button {
                    padding: 15px 35px 15px 35px;
                    background: rgba(0, 0, 0, 0);
                    color: $color_white;
                    font-size: 15.5px;
                    letter-spacing: 0.93px;
                    border: 1px solid $color_white;
                    transition-duration: 0.2s;
                    &:hover {
                         background: rgba(0, 0, 0, 0.2);
                    }
               }
          }
          &_arrow-position {
               padding: 50px 0 0 0;
          }
          &__arrow {
               display: block;
               height: 3px;
               width: 20px;
               margin: 0 auto;
               position: relative;
               &:before, &:after {
                    content: "";
                    height: 100%;
                    width: 50%;
                    position: absolute;
                    top: 0;
                    background: $color_white;
                    border: 1px solid rgba(0, 0, 0, 0);
               }
               &:before {
                    left: 0;
                    transform: skew(0deg, 40deg);
                    border-radius: 10px/10px;
               }
               &:after {
                    right: 0;
                    transform: skew(0deg, -40deg);
                    border-radius: 10px/10px;
               }
               &:hover:after, &:hover:before {
                    top: -1px;
               }
          }
     }
}

.nav {
     box-shadow: 0.5px 0.9px 0 0 rgba(0, 0, 0, 0.05);

     &_position {
          width: 430px;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
          text-transform: uppercase;
          font-size: 15px;
          padding: 24px 0 24px 0;
     }

     &__home {
          a {
               color: $color_greyish-brown;
               &:hover {
                    color: $color_dust;
                    position: relative;
                    top: -1px;
                    right: -1px;
               }
          }
     }

     &__about-us {
          a {
               color: $color_greyish-brown;
               &:hover {
                    color: $color_dust;
                    position: relative;
                    top: -1px;
                    right: -1px;
               }
          }
     }

     &__portfolio {
          a {
               color: $color_greyish-brown;
               &:hover {
                    color: $color_dust;
                    position: relative;
                    top: -1px;
                    right: -1px;
               }
          }
     }

     &__contact {
          a {
               color: $color_greyish-brown;
               &:hover {
                    color: $color_dust;
                    position: relative;
                    top: -1px;
                    right: -1px;
               }
          }
     }
}
.about {
     &_body {
          margin: 130px 0 0 0;
     }

     &__header {

     }

     &__title {
          margin: 0 0 73px 0;
     }

     &__text {
          width: 688px;
          margin: 0 auto;
          color: $color_warm-grey;
          font-size: 14px;
          font-weight: 300;
          text-align: center;
          line-height: 1.86;
     }

     &__row {
          max-width: 868px;
          margin: 0 auto;
          display: flex;
          padding: 69px 0 95px 0;
     }

     &__column {
          font: 0 0 33.333%;
          margin: 0 0 0 60px;
          .item-about {
               &__icon {
                    margin: 0 auto;
                    width: 92px;
                    height: 92px;
                    border-radius: 50%;
                    border: 2px solid #f1f1f1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
               }
               &__title {
                    font-size: 22px;
                    letter-spacing: 3.52px;
                    text-align: center;
                    margin: 41px 0 35px 0;
               }
               &__text {
                    text-align: center;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 1.86;
               }
          }
     }

}
.title {
     position: relative;
     text-align: center;
     font-size: 35px;
     font-weight: 700;
     letter-spacing: 5.44px;

     &:after {
          content:'';
          position: absolute;
          width: 81px;
          height: 1px;
          background-color: #000;
          bottom: -35px;
          left: 47.8%;
     }
}
.portfolio {
     background-color: $color_portfolio-bg;
     &__body {

     }
     &__header {
          padding: 107px 0 91px 0;
     }
     &__title {
          position: relative;
          text-align: center;
          font-size: 35px;
          font-weight: 700;
          letter-spacing: 5.44px;
          &:after {
               content:'';
               position: absolute;
               width: 81px;
               height: 1px;
               background-color: #000;
               bottom: -40px;
               left: 47.8%;
          }
     }
     &__gallery {
          .nav-gallery {
               max-width: 300px;
               margin: 0 auto;
               display: flex;
               justify-content: space-between;
               font-size: 15px;
               text-transform: uppercase;

               a {
                    color: $color_greyish-brown;
                    &:hover {
                         color: $color_dust;
                         position: relative;
                         top: -1px;
                         right: -1px;
                    }
               }
          }
     }

     .gallery {
          padding: 135px 0 0 0;
          &__body {
               width: 1112px;
               margin: 0 auto;
               display: flex;
               flex-flow: row wrap;
               justify-content: space-around;
          }
          &__item {
               width: 47%;
               height: 365px;
               margin: 30px 0 0 0;
               background-color: $color_white-three;
          }
     }
     &__footer {
          & .readmore {
               padding: 65px 0 65px 0;
               &__button {
                    max-width: 182px;
                    margin: 0 auto;

                    & button {
                         padding: 15px 35px 15px 35px;
                         background: rgba(0, 0, 0, 0);
                         color: $color_black;
                         font-size: 15.5px;
                         letter-spacing: 0.93px;
                         border: 1px solid $color_black;
                         transition-duration: 0.2s;
                         &:hover {
                              background: rgba(0, 0, 0, 0.1);
                         }
                    }
               }
          }
     }
}
.our-partners {
     &__body {
          background: url('../images/pictures/bg_bottom.jpg') 0 0/100% auto no-repeat;
     }
     &__title {
          padding: 100px 0 93px 0;
          font-size: 30.5px;
          font-weight: 300;
          letter-spacing: 1.83px;
          text-align: center;
          color: $color_white;
     }
     &__partners {
          padding: 0 0 95px 0;
          width: 550px;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
          align-items: center;
     }
}
.contact {
     &__body {
          padding: 120px 0 102px 0;
          max-width: 1000px;
          margin: 0 auto;
     }
     &__title {
          position: relative;
          text-align: center;
          font-size: 35px;
          font-weight: 700;
          letter-spacing: 5.44px;
          margin-bottom: 160px;
          &:after {
               content:'';
               position: absolute;
               width: 81px;
               height: 1px;
               background-color: #000;
               bottom: -40px;
               left: 46%;
          }
     }
     &__column {
          display: flex;
          justify-content: space-between;
     }
     .form-send {
          width: 383px;
          height: 360px;
          position: relative;
          & label {
               font-size: 14px;
               font-weight: bold;
               letter-spacing: 0.84px;
               color: $color_black;
          }
          & input {
               margin-top: 18px;
               padding: 0 10px;
          }
          &__position-name {
               position: absolute;
               top: 0;
               left: 0;
          }
          &__position-email {
               position: absolute;
               top: 0;
               right: 0;
          }
          &__position-message {
               position: absolute;
               bottom: 50px;
          }
          &__position-button {
               position: absolute;
               bottom: 0;
               right: 0;
          }
          &__position-button {
               & input {
                    padding: 0.5em;
               }
          }
          &__name {
               width: 161px;
               height: 35px;
               background-color: $color_white-two;
               border-top: 1px solid $color_black;
          }
          &__email {
               width: 161px;
               height: 35px;
               background-color: $color_white-two;
               border-top: 1px solid $color_black;
          }
          &__message {
               width: 383px;
               height: 118px;
               background-color: $color_white-two;
               border-top: 1px solid $color_black;
               resize: none;
               margin-top: 18px;
               padding: 10px;
          }
          &__submit {
               padding: 4px 4px 4px 4px;
               font-weight: 700;
               font-size: 14px;
               letter-spacing: 0.84px;
               background-color: rgba(0, 0, 0, 0.0);
               border: 1px solid $color_white;
               border-radius: 5%;
               transition-duration: 0.2s;
               &:hover {
                    cursor: pointer;
                    position: relative;
                    padding: 0.5em;
                    border: 1px solid $color_black;
                    margin: 0 0 1px 1px;
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
               }
          }
     }
     .information {
          width: 453px;
          &_position {
               width: 252px;
          }
          &__text {
               font-size: 14px;
               font-weight: 300;
               line-height: 1.86;
               padding-bottom: 35px;
          }
          &__name {
               font-weight: 700;
               padding-bottom: 25px;
          }
          &__media {
               width: 80px;
               display: flex;
               justify-content: space-between;
               padding-bottom: 13px;
               & .facebook-icon {
                    & a {
                         font-weight: 700;
                         border: 2px solid $color_black;
                         border-radius: 50%;
                         padding: 1px 11px;
                         color: $color_black;
                         font-size: 22px;
                         transition-duration: 0.2s;
                         &:hover {
                              background-color: $color_facebook-bg;
                              color: $color_white;
                              position: relative;
                              top: -1px;
                         }
                    }
               }
               & .linkedin-icon {
                    & a {
                         font-weight: 700;
                         border: 2px solid $color_black;
                         border-radius: 50%;
                         padding: 1px 5px;
                         color: $color_black;
                         font-size: 22px;
                         transition-duration: 0.2s;
                         &:hover {
                              background-color: $color_linkedin-bg;
                              color: $color_white;
                              position: relative;
                              top: -1px;
                         }
                    }
               }
          }
          & .email {
               &__bold {
                    font-weight: 700;
               }
          }
     }
}
.footer {
     background-color: $color_greyish-brown;
     &_body {

     }
     &__logo {
          padding: 48px 0 41px 0;
          width: 122px;
          margin: 0 auto;
     }
     .nav-footer {
          width: 260px;
          margin: 0 auto;
          padding-bottom: 34px;
          display: flex;
          justify-content: space-between;
          & a {
               color: $color_greyish;
               transition-duration: 0.2s;
               &:hover {
                    color: $color_white;
               }
          }
     }
     &__copyright {
          text-align: center;
          padding-bottom: 49px;
          color: $color_brownish-grey;
     }
}
